<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.oreilly.entities"/>
    <!--    <bean id="redSox" class="com.oreilly.entities.RedSox"/>-->
    <!--    <bean id="cubs" class="com.oreilly.entities.Cubs"/>-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"/>

    <bean id="game" class="com.oreilly.entities.BaseballGame">
        <property name="homeTeam" ref="redSox"/>
        <property name="awayTeam" ref="cubs"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="nf" class="java.text.NumberFormat" factory-method="getCurrencyInstance"/>

    <bean id="factory" class="javax.xml.parsers.DocumentBuilderFactory" factory-method="newInstance"/>
    <bean class="javax.xml.parsers.DocumentBuilder" factory-bean="factory" factory-method="newDocumentBuilder" />



</beans>